@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
  background-color: theme('colors.cream');
  color: theme('colors.text.dark');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
